.title {
    text-align: center;
    border-style: solid;
    border-color: black;
}
.sketchpad {
    display: flex;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.gridRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.gridRow#num1 {
    /* border-left: 1px solid black; */
}

.gridRow#num16 {
    /* border-right: 1px solid black; */
}

.cell {
    border: 1px solid black;
    padding: 1px;
    flex: 1;
}

.fill {
    background-color: black;
}

/* .cell.fill {
    background-color: black;
} */