.title {
    text-align: center;
    border-style: solid;
    border-color: black;
}
.sketchpad {
    display: flex;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}

.gridRow {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

.gridRow#num1 {
    /* border-left: 1px solid black; */
}

.gridRow#num16 {
    /* border-right: 1px solid black; */
}

.cell {
    border: 1px solid black;
    padding: 1px;
    width: 12px;
    height: 12px;
}

.cell.fill {
    background-color: black;
}